.app {
    height: 80vh;
    margin: 10vh 0;
    position: relative;
}

/* iphone mock section */
.app {
    .iphone-view {
        position: fixed;
        flex: 20% 0 0;
        height: 80vh;
        left: 72.5%;
        .iphone-mock {
            position: relative;
            height: 80vh; 
        }
    }
    .title {
        width: 100%;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 14px;
    }
    .view-details {
        position: absolute;
        top: 12%;
        bottom: 12%;
        width: 100%;
        padding: 0px 18px;
        .menuBar {
            height: 6%;
            background: #000000;
            align-items: center;
            color: #FFFFFF;
            font-size: 12px;
        }
        .scroll {
            height: 94%;
        }
        .imageGrid {
            .d-flex {
                width: 100%;
                height: 100%;
                flex-wrap: wrap;
            }
            a {
                width: 100%;
                height: 100%;
                flex: 48% 1;
                position: relative;
                margin: 1%;
                img {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    text-decoration: none;
                }
                .name {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    color: #FFFFFF;
                    background: rgba(128, 128, 128, 0.50);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
        .instagram-images {
            .d-flex {
                width: 100%;
                height: 100%;
                flex-wrap: wrap;
                padding-bottom: 4px;
            }
            a {
                width: 100%;
                height: 100%;
                flex: 32.333333% 1;
                position: relative;
                margin: 0.5%;
                &:hover {
                    text-decoration: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .banner-image {
            padding-bottom: 4px;
            img {
                width: 100%;
                height: 120px;
            }
        }
        .products {
            .d-flex {
                padding-bottom: 4px;
                width: 100%;
                height: 100%;
                flex-wrap: wrap;
            }
            a {
                width: 100%;
                height: 100%;
                flex: 50% 1;
                padding: 4px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                &:hover {
                    text-decoration: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                
            }
            .name, .price {
                width: 80px;
                color: #000000;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }
        .silder-view {
            padding-bottom: 4px;
            .carousel-indicators {
                margin-bottom: 0px !important;
            }
            .carousel-control-prev, .carousel-control-next {
                display: none !important;
            }
            .carousel-indicators li {
                width: 10px !important;
                height: 10px !important;
                border-radius: 50%;
            }
        }
    }
}

.scrollarea .scrollbar-container.vertical {
    width: 8px !important;
    .scrollbar {
        width: 6px !important;
        border-radius: 10px;
    }
}


.drag-and-drop {
    height: 80vh;
    flex: 80% 0 0;
    width: 100%;
    h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        color: #3e3e3e;
    }
    .drag-drop {
        border-radius: 4px;
        box-shadow: 0px 0px 4px 2px #cccccc;
        background: #FFFFFF;
        width: 90%;
    }
    .drag-area {
        padding: 12px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.50);
        &:last-child {
            border-bottom: 0px;
        }
        .drag-icon {
            margin: auto 0;
            display: flex;
            img {
                width: 40px;
                height: 26px;
                vertical-align: middle;
                margin-right: 12px;
            }
            p {
                color: #656565;
                font-size: 16px;
                font-weight: 600;
                margin: auto 0;
            }
            .Show {
                display: block !important;
                color: #d8d8d8;
            }
        }
        .customise-button {
            display: flex;
            .button-submit {
                margin-left: 16px;
                button {
                    color: #656565;
                    border: 1px solid #d8d8d8;
                    border-radius: 5px;
                    font-size: 16px;
                    padding: 4px 16px;
                    background: #ffffff;
                    &:hover {
                        border: 1px solid #d8d8d8;
                        background: #d8d8d8;
                    }
                }
            }
            .button-img {
                button {
                    padding: 4px 12px;
                }
            }
            .hide-show {
                button {
                    &:hover {
                        border: 1px solid #a8a6ff !important;
                        background: #a8a6ff !important;
                    }
                }
            }
        }
    }
    .drag-scroll {
        margin: 16px 0px 0px;
        .drag-card-view {
            position: relative;
            margin-bottom: 16px;
            .image-view {
                height: 83%;
                border: 1px solid #d8d8d8;
                display: flex;
                align-items: center;
                background: #d8d8d8;
                border-radius: 4px 4px 0px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 83%;
                }
            }
            .image-card {
                height: 200px;
                .d-flex {
                    height: 17%;
                }
            }
            .background {
                background-color: #d8d8d8;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    height: 75px;
                    width: 75px;
                }
            }
        }
        .button-img {
            width: 60% !important;
            button {
                padding: 4px 10px !important;
            }
        }
        .button-submit {
            width: 100%;
            button {
                color: #656565;
                border: 1px solid #d8d8d8;
                font-size: 16px;
                padding: 4px 16px;
                background: #ffffff;
                border-radius: 0px;
                img {
                    height: 20px;
                }
            }
        }
    }
}

.visible, .Hide {
    display: block;
}
.hide, .Show {
    display: none;
}

.popover-body {
    p {
        margin-bottom: 4px;
        font-weight: 600;
    }
    .input-save {
        display: flex;
        input {
            border: 1px solid #d8d8d8;
            border-right: 0px;
        }
        button {
            border: 1px solid #d8d8d8;
        }
    }
}

